{% extends 'base.html' %}
{% block title %} Blog | Radha Damodar Temple {% endblock title %}
{% block css %}
{% endblock css %}

{% block content %}
<!-- partial:partia/__subheader.html -->
<div class="sigma_subheader dark-overlay dark-overlay-2">
    <div class="sigma_subheader-inner">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="btn-link" href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
            </ol>
        </nav>
    </div>

</div>
<!-- partial -->

<!-- Post Content Start -->
<div class="section sigma_post-single">
    <div class="container">

        <div class="row">

            <div class="col-lg-8">
                <div class="post-detail-wrapper">

                    <div class="entry-content">
                        <div class="sigma_post-meta">
                            <div class="sigma_post-categories">
                                <a href="blog-details.html" class="sigma_post-category">{{blog.category}}</a>
                            </div>
                        </div>
                        <h4 class="entry-title">{{blog.title}}</h4>
                        <div class="sigma_post-meta">
                            <a href="blog-details.html"> <i class="far fa-eye"></i> {{blog.views}} Views</a>
                            <a href="blog-details.html"> <i class="far fa-calendar"></i> May 20, 2022</a>
                        </div>
                        <p>{{blog.desc}}</p>

                    </div>

                    <!-- Post Meta Start -->
                    <div class="sigma_post-single-meta">
                        <div class="sigma_post-single-meta-item">
                            <h6>Tags</h6>
                            <div class="tagcloud">
                                <a href="#">Portfolio</a>
                                <a href="#">Creative</a>
                                <a href="#">Intuitive</a>
                            </div>
                        </div>
                        <div class="sigma_post-single-meta-item sigma_post-share">
                            <h6>Share</h6>
                            <ul class="sigma_sm">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Post Meta End -->

                    <!-- Post Pagination Start -->
                    <div class="section">

                    </div>
                    <!-- Post Pagination End -->

                    <!-- Related Posts Start -->
                    <div class="section">
                        <h5>Related Posts</h5>
                        <div class="row">
                            <!-- Article Start -->
                            <div class="col-md-6">
                                <article class="sigma_post">
                                    <div class="sigma_post-thumb">
                                        <a href="blog-details.html">
                                            <img src="/static/assets/img/blog/details/4.jpg" alt="post">
                                        </a>
                                    </div>
                                    <div class="sigma_post-body">
                                        <div class="sigma_post-meta">
                                            <a href="blog-details.html" class="sigma_post-date"> <i
                                                    class="far fa-calendar"></i> May 20, 2022</a>
                                        </div>
                                        <h5><a href="blog-details.html">Education for all rural children are
                                            necessary.</a></h5>
                                        <p>I Will Not Reject My Faith in Rama, Shiva, Vishnu, Krishna etc.</p>
                                    </div>
                                </article>
                            </div>
                            <!-- Article End -->

                            <!-- Article Start -->
                            <div class="col-md-6">
                                <article class="sigma_post">
                                    <div class="sigma_post-thumb">
                                        <a href="blog-details.html">
                                            <img src="/static/assets/img/blog/details/5.jpg" alt="post">
                                        </a>
                                    </div>
                                    <div class="sigma_post-body">
                                        <div class="sigma_post-meta">
                                            <a href="blog-details.html" class="sigma_post-date"> <i
                                                    class="far fa-calendar"></i> May 20, 2022</a>
                                        </div>
                                        <h5><a href="blog-details.html">Ensure child safety & health in World.</a></h5>
                                        <p>I Will Not Reject My Faith in Rama, Shiva, Vishnu, Krishna etc.</p>
                                    </div>
                                </article>
                            </div>
                            <!-- Article End -->
                        </div>
                    </div>
                    <!-- Related Posts End -->

                    <!--            &lt;!&ndash; About Author Start &ndash;&gt;-->
                    <!--            <div class="section">-->
                    <!--              <div class="sigma_author-about">-->
                    <!--                <img src="/static/assets/img/blog/details/6.jpg" alt="author">-->
                    <!--                <div class="sigma_author-about-content">-->
                    <!--                  <span>Written By</span>-->
                    <!--                  <h3>Rosalina D. William</h3>-->
                    <!--                  <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus.</p>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--            &lt;!&ndash; About Author End &ndash;&gt;-->

                    <!-- Comments Start -->
                    <div class="section">
                        <h5>{{comment_count}} Comments</h5>
                        <div class="comments-list">
                            <ul>
                                {% for i in comment %}
                                <li class="comment-item">
                                    <img src="/static/assets/img/blog/details/7.jpg" alt="comment author">
                                    <div class="comment-body">
                                        <h5>{{i.name}}</h5>
                                        <span> <i class="far fa-clock"></i> January 13 2022</span>
                                        <p>{{i.desc}}</p>
                                        <a href="#" class="btn-link"> Reply <i class="far fa-reply"></i> </a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="section">
                        <h5>Leave a Comment</h5>
                        <div class="comment-form">
                            <form id="commentForm" method="post">
                                <input type="hidden" name="post_id" id="post_id" value="{{id}}">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter your Message" name="comment"
                                              rows="7"></textarea>
                                </div>
                                <div class="form-group">
                                    <i class="far fa-user custom-primary"></i>
                                    <input type="text" placeholder="Full Name" class="form-control" name="name"
                                           value="">
                                </div>
                                <div class="form-group">
                                    <i class="far fa-mobile custom-primary"></i>
                                    <input type="text" placeholder="Mobile" class="form-control" name="mobile"
                                           value="">
                                </div>
                                <div class="form-group">
                                    <i class="far fa-envelope custom-primary"></i>
                                    <input type="email" placeholder="Email Address" class="form-control" name="email"
                                           value="">
                                </div>
                                <button type="submit" class="sigma_btn-custom" name="button">Post Comment <i
                                        class="far fa-comments"></i></button>

                            </form>
                        </div>
                    </div>
                    <!-- Comments End -->

                </div>
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- About Author Start -->
                    <div class="sidebar-widget widget-about-author">
                        <h5 class="widget-title">About Me</h5>
                        <div class="widget-about-author-inner">
                            <img src="/static/assets/img/blog/author.jpg" alt="author">
                            <h5>Rosalina D. Willaimson</h5>
                            <p>"Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec
                                sollicitudin molestie malesuada. Mauris blandit aliquet elit"</p>
                            <ul class="sigma_sm">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- About Author End -->

                    <!-- Search Widget Start -->
                    <div class="sidebar-widget widget-search">
                        <h5 class="widget-title">Search</h5>
                        <form method="post">
                            <div class="sigma_search-adv-input">
                                <input type="text" class="form-control" placeholder="Search Posts" name="search"
                                       value="">
                                <button type="submit" name="button"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- Search Widget End -->

                    <!-- Popular Feed Start -->
                    <div class="sidebar-widget widget-recent-posts">
                        <h5 class="widget-title">Recent Posts</h5>
                        <article class="sigma_recent-post">
                            <a href="blog-details.html"><img src="/static/assets/img/blog/md/1.jpg" alt="post"></a>
                            <div class="sigma_recent-post-body">
                                <h6><a href="blog-details.html">As we've all discovered by now, the world can change</a>
                                </h6>
                                <a href="blog-details.html"> <i class="far fa-calendar"></i> May 20, 2022</a>
                            </div>
                        </article>
                        <article class="sigma_recent-post">
                            <a href="blog-details.html"><img src="/static/assets/img/blog/md/2.jpg" alt="post"></a>
                            <div class="sigma_recent-post-body">
                                <h6><a href="blog-details.html">Testimony love offering so blessed</a></h6>
                                <a href="blog-details.html"> <i class="far fa-calendar"></i> May 20, 2022</a>
                            </div>
                        </article>
                        <article class="sigma_recent-post">
                            <a href="blog-details.html"><img src="/static/assets/img/blog/md/3.jpg" alt="post"></a>
                            <div class="sigma_recent-post-body">
                                <h6><a href="blog-details.html">As we've all discovered by now, the world can change</a>
                                </h6>
                                <a href="blog-details.html"> <i class="far fa-calendar"></i> May 20, 2022</a>
                            </div>
                        </article>
                    </div>
                    <!-- Popular Feed End -->


                    <!-- Social Media Start -->
                    <div class="sidebar-widget">
                        <h5 class="widget-title">Never Miss Out</h5>
                        <ul class="sigma_sm square light">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Social Media End -->

                    <!-- Twitter Feed Start -->
                    <div class="sidebar-widget widget-twitter">
                        <h5 class="widget-title">Twitter Feed</h5>
                        <div class="twitter-item d-flex align-items-start">
                            <i class="fab fa-twitter custom-primary me-4 mt-2"></i>
                            <div class="twitter-item-content">
                                <p>Rescue - #Gutenberg ready @ HTML Template for Creative Bloggers available on
                                    @Themeforest https://t.co/2r1POkkgVC ... </p>
                                <strong>November 25, 2022</strong>
                            </div>
                        </div>
                        <div class="twitter-item d-flex align-items-start">
                            <i class="fab fa-twitter custom-primary me-4 mt-2"></i>
                            <div class="twitter-item-content">
                                <p>Rescue - #Gutenberg ready @ HTML Template for Creative Bloggers available on
                                    @Themeforest https://t.co/2r1POkkgVC ... </p>
                                <strong>November 25, 2022</strong>
                            </div>
                        </div>
                        <div class="twitter-item d-flex align-items-start">
                            <i class="fab fa-twitter custom-primary me-4 mt-2"></i>
                            <div class="twitter-item-content">
                                <p>Rescue - #Gutenberg ready @ HTML Template for Creative Bloggers available on
                                    @Themeforest https://t.co/2r1POkkgVC ... </p>
                                <strong>November 25, 2022</strong>
                            </div>
                        </div>
                    </div>
                    <!-- Twitter Feed End -->

                    <!-- Instagram Start -->
                    <div class="sidebar-widget widget-ig">
                        <h5 class="widget-title">Instagram</h5>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/1.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/2.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/3.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/4.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/5.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/6.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/7.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/8.jpg" alt="ig">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <a href="#" class="sigma_ig-item">
                                    <img src="/static/assets/img/ig/9.jpg" alt="ig">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Instagram End -->

                    <!-- Popular Tags Start -->
                    <div class="sidebar-widget">
                        <h5 class="widget-title">Popular Tags</h5>
                        <div class="tagcloud">
                            <a href="#">Isabella</a>
                            <a href="#">Samantha</a>
                            <a href="#">Emily</a>
                            <a href="#">June</a>
                            <a href="#">Grace</a>
                            <a href="#">Madison</a>
                            <a href="#">Heather</a>
                            <a href="#">Micheal</a>
                        </div>
                    </div>
                    <!-- Popular Tags End -->

                    <!-- Ad banner Start -->
                    <div class="sidebar-widget widget-ad p-0 border-0">
                        <a href="#">
                            <img src="/static/assets/img/blog/ad.jpg" alt="ad">
                            <div>
                                <span>Add a Custom Text</span>
                                Add Banner here
                            </div>
                        </a>
                    </div>
                    <!-- Ad banner End -->

                </div>
            </div>
            <!-- Sidebar End -->

        </div>

    </div>
</div>
<!-- Post Content End -->

{% endblock content %}


{% block js %}
{% endblock js %}


