{% extends "base.html" %}
{% block title %} Radha Damodar Temple{% endblock title %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="container biographies">

  <h2>Shri Roopa Goswami Ji</h2>
  <h3>Samādhi of Shri Roop Goswami Ji</h3>
  <p><em>śrī-rūpa-mañjarī khyātā yāsīd vṛndāvane purā<br>
  sādya rūpākhya-gosvāmī bhūtvā prakaṭatām iyāt</em></p>
  <p>She who was known in Vrindavan as Rupa Manjari has now appeared as Rupa Gosvāmī. (Gaura-gaṇoddeśa-dīpikā 180)</p>
  <p>Lalita is chief amongst the sakhis... (full biography text here).</p>

  <h2>Shri Jiva Goswami Ji</h2>
  <p>According to the Gaura-gaṇoddeśa-dīpikā (195), Śrīla Jiva Gosvāmī was previously Vilāsa Manjari in Vraja... (detailed biography).</p>

  <h4>Main Works of Jiva Goswami:</h4>
  <ol>
    <li>Harināmāmṛta-vyākaraṇa</li>
    <li>Sūtra-mālikā</li>
    <li>Dhātu-saṅgraha</li>
    <li>Kṛṣṇārcana-dīpikā</li>
    <li>Gopāla-virudāvalī</li>
    <li>Rasāmṛta-śeṣa</li>
    <li>Mādhava-mahotsava</li>
    <li>Saṅkalpa-kalpa-vṛkṣa</li>
    <li>Bhāvārtha-sūcaka-campū</li>
    <li>Commentary on Gopala-tāpanī Upanisad</li>
    <li>Commentary on Brahma-saṁhitā</li>
    <li>Commentary on Bhakti-rasāmṛta-sindhu</li>
    <li>Commentary on Ujjvala-nīlamaṇi</li>
    <li>Commentary on Yogasāra-stavaka</li>
    <li>Gāyatrī-bhāṣya of Agnipurāṇa</li>
    <li>Kṛṣṇa-pada-cihna of Padma-purāṇa</li>
    <li>Śrī Rādhikā-kara-pada-sthita-cihna</li>
    <li>Gopāla-campū, Pūrva and Uttara divisions</li>
    <li>Krama-sandarbha</li>
    <li>Tattva-sandarbha</li>
    <li>Bhagavat-sandarbha</li>
    <li>Paramātma-sandarbha</li>
    <li>Kṛṣṇa-sandarbha</li>
    <li>Bhakti-sandarbha</li>
    <li>Prīti-sandarbha</li>
  </ol>

  <h2>Shri Bhugarbh Goswami Ji</h2>
  <p>I offer my reverence to the illustrious Bhugarbha Prabhu... (text continues).</p>

  <h2>Shri Sanatan Goswami Ji</h2>
  <p><em>ya rupa-manjari-preshtha purasiad rati-manjari... </em> (full text)</p>

  <h2>Samādhi of Śrī Kṛṣṇadās Kavirāj Gosvāmī</h2>
  <p>Srila Krsnadasa Kaviraja was born in about 1520... (text continues).</p>

  <h2>Shri Jaydev Goswami Ji</h2>
  <p>Thakur Shri Radha Madhav Ji in Radha Damodar Temple belongs to Shri Jaidev Goswami Ji... (text continues).</p>

  <h2>Śrīla A.C. Bhaktivedanta Swami Prabhupada</h2>
  <p>His Divine Grace Srila A.C. Bhaktivedanta Swami Prabhupada... (full text).</p>

  <h2>Samādhis of Mahārāja Vīra Hamvīra and Queen Sulakṣaṇā</h2>
  <p>Maharaja Vira Hamvira was the King of Vanavisnupura... (text continues).</p>

  <h2>Samādhi of Acharya Śrī Gaurachand Gosvāmī</h2>
  <p>Sri Gauracand Goswami was the direct descendent of Sri Krsna Dasa Goswami... (text continues).</p>

  <h2>Samādhi of Śrī Nirmal Chandra Gosvāmī</h2>
  <p>Sri Nirmal Chandra Goswami is the descendant of Sri Gaurachand Gosvāmī... (text continues).</p>

  <h2>Pushpa Samadhis</h2>
  <p>Inside Śrī Rādhā Dāmodar temple the samadhis of Śrīla Jiva Gosvāmī, Śrīla Rupa Gosvāmī... (intro text).</p>

  <h3>Śrīla Bhakti Siddhanta Saraswati Thākur Prabhupāda</h3>
  <p>May all of you work united and in harmony... (text continues).</p>

  <h3>Śrīla Bhakti Pramod Puri Mahārāja</h3>
  <p>One winter as a pujari, Pramode Bhusan forgot... (text continues).</p>

  <h3>Śrīla Bhakti Kusum Sraman Mahārāja</h3>
  <p>From inside, antaryyami Srila Prabhupad recognized... (text continues).</p>

</div>


{% endblock content %}

{% block js %}
{% endblock js %}