{% extends "base.html" %}
{% block title %} Radha Damodar Temple{% endblock title %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="container gaushala-section">

  <h2>Gaushala</h2>
  <p>
    Located in the sacred city of Vrindavan, Radha Damodar Temple Shyama Gaushala is a temple dedicated to helping and caring for cows.
  </p>
  <p>
    We offer a variety of services that help to ensure the health and well-being of the cows, including cow feeding, cow donation, and more.
  </p>
  <p>
    Our vision is to create a safe and loving environment for the cows and to promote the importance of cow protection.
  </p>
  <p>
    We invite everyone to join us in our mission and to help us in our mission to protect the cows and their wellbeing.
  </p>

</div>

{% endblock content %}

{% block js %}
{% endblock js %}