{% extends "base.html" %}
{% block title %} Radha Damodar Temple{% endblock title %}
{% block css %}
{% endblock css %}

{% block content %}
<!-- Banner Start -->
<div class="sigma_banner banner-3">

    <div class="sigma_banner-slider">

        <!-- Banner Item Start -->
        <div class="light-bg sigma_banner-slider-inner bg-cover bg-center bg-norepeat"
             style="background-image: url('{{daily_darshan}}');">
            <div class="sigma_banner-text">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h1 class="pt-5 text-center title text-light">Today's Darshan</h1>
                            <!--                <p class="blockquote mb-0 bg-transparent"> We are a Hindu that belives in Lord Rama and Vishnu Deva the followers and We are a Hindu that belives in Lord Rama and Vishnu Deva. This is where you should start </p>-->
                            <!--                            <div class="section-button d-flex align-items-center">-->
                            <!--                                <a href="/contact-us/" class="sigma_btn-custom">Join Today <i-->
                            <!--                                        class="far fa-arrow-right"></i> </a>-->
                            <!--                                <a href="services.html" class="ms-3 sigma_btn-custom white">View Services <i-->
                            <!--                                        class="far fa-arrow-right"></i> </a>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Item End -->

    </div>

</div>
<!-- Banner End -->

<!-- About Start -->
<section class="section">
    <div class="container">
        <h4 class="text-center title">About us</h4>
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-30">
                <div class="img-group">
                    <div class="img-group-inner">
                        <img src="/static/img/16.png" alt="about">
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/static/img/15.png" alt="about">
                    <img src="/static/img/17.png" alt="about">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="me-lg-30">
                    <div class="section-title mb-0 text-start">
                        <h4 class="title">Shri Radha Damodar Temple Vrindavan</h4>
                    </div>

                    <ul class="sigma_list list-2 mb-0">
                        <li><a href="history/">History</a></li>
                        <li><a href="samadhis/">Pushp Samadhis & Bhajan Kutir</a></li>
                        <li><a href="biographies/">Biographies</a></li>
                        <li><a href="gaushala/">Gaushala</a></li>
                    </ul>

                    <p class="blockquote bg-transparent"> The history of the Rādhā-Dāmodar Mandir began when Śrīla Rupa
                        Goswāmī and Śrīla Sanātana Goswāmī came to Vrindāvan in 1516. Śrī Chaitanya Mahāprabhu ordered
                        them to uncover the pastime places of Śrī Śrī Rādhā and Kṛṣṇa and distribute bhakti-rasa for the
                        benefit of all human beings. </p>
                    <!--                    <a href="about-us.html" class="sigma_btn-custom light">Learn More <i class="far fa-arrow-right"></i></a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->

<!-- Donation Start -->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="section-title text-center">
            <p class="subtitle">Make a Donation</p>
            <h4 class="title">Donate Us To Help</h4>
        </div>

        <div class="row">
            {% for i in service %}
            <div class="col-lg-4 col-md-6">
                <div class="sigma_service style-2">
                    <div class="sigma_service-thumb">
                        <img src="{% if i.img %} {{i.img.url}} {% endif %}" alt="img" height="10">
                    </div>
                    <div class="sigma_service-body">
                        <h5>
                            <a href="https://pages.razorpay.com/pl_NsGKvs5boNQIMn/view">{{i.name_hindi}}</a>
                        </h5>
                        <p>{{i.desc}} </p>
                        <div class="sigma_service-progress">
                            <div class="progress-content">
                                <!--                  <p>Raised: $52,384</p>-->
                                <!--                  <p>Goal: $85,000</p>-->
                            </div>
                            <div class="sigma_progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="https://pages.razorpay.com/pl_NsGKvs5boNQIMn/view" class="sigma_btn-custom">
                            Donate
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<!-- Donation End -->

<!-- holi Start -->
<div class="section section-padding pattern-squares dark-bg-2">
    <div class="container">

        <div class="section-title text-start">
            <p class="subtitle">service</p>
            <h4 class="title text-white">How We Can Help</h4>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <a href="services.html" class="sigma_service style-1 primary-bg">
                    <div class="sigma_service-thumb">
                        <i class="text-white flaticon-temple"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5 class="text-white">About Temple</h5>
                        <p class="text-white">Temple is place where hindu worship consectetur adipisicing elit, sed
                            do </p>
                    </div>
                    <span class="btn-link text-white">Learn More <i class="text-white far fa-arrow-right"></i> </span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mt-negative-sm">
                <a href="services.html" class="sigma_service style-1 secondary-bg">
                    <div class="sigma_service-thumb">
                        <i class="custom-primary flaticon-hindu-1"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5 class="text-white">Our Pandit</h5>
                        <p class="text-white">Temple is place where hindu worship consectetur adipisicing elit, sed
                            do </p>
                    </div>
                    <span class="text-white btn-link">Learn More <i class="text-white far fa-arrow-right"></i> </span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 mt-negative-sm">
                <a href="services.html" class="sigma_service style-1 bg-white">
                    <div class="sigma_service-thumb">
                        <i class="flaticon-pooja"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5>Prayers</h5>
                        <p>Temple is place where hindu worship consectetur adipisicing elit, sed do </p>
                    </div>
                    <span class="btn-link">Learn More <i class="far fa-arrow-right"></i> </span>
                </a>
            </div>

        </div>

        <div class="text-end">
            <a href="services.html" class="btn-link text-white"> Get Started Now <i
                    class="custom-primary far fa-arrow-right"></i> </a>
        </div>

    </div>
</div>
<!-- holi End -->

<!-- Owner Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title text-center">
            <p class="subtitle">Temple Sevayat</p>
            <h4 class="title">सेवायत</h4>
        </div>

        <div class="row">
            {% for i in owner %}
            <!-- Article Start -->
            <div class="col-lg-3 col-md-6">
                <article class="sigma_post">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{% if i.img %} {{i.img.url}} {% endif %}" alt="post" class="img-fluid">
                        </a>
                    </div>
                    <div class="sigma_post-body">
                        <!--                        <div class="sigma_post-meta">-->
                        <!--                            <div class="me-3">-->
                        <!--                                <i class="fas fa-om"> &nbsp;member</i>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <p><a href="blog-details.html">{{i.name_hindi}}</a></p>
                        <!--                        <div class="sigma_post-single-author">-->
                        <!--                            <img src="/static/assets/img/people/1.jpg" alt="author">-->
                        <!--                        </div>-->
                    </div>
                </article>
            </div>
            <!-- Article End -->
            {% endfor %}


        </div>

    </div>

    <div class="spacer spacer-bottom spacer-lg light-bg pattern-triangles"></div>

</div>
<!-- Owner End -->

<!-- volunteers Start -->
<section class="section section-padding light-bg">
    <div class="container">
        <div class="section-title text-center">
            <p class="subtitle">Deities</p>
            <h6 class="title">Deities Served in Temple</h6>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="me-lg-30">
                    <div class="row">

                        {% for i in god %}
                        <div class="col-lg-3">
                            <div class="sigma_volunteers volunteers-5">
                                <img src="{% if i.img %} {{i.img.url}} {% endif %}" alt="volunteers">
                                <div class="sigma_volunteers-body">
                                    <div class="sigma_volunteers-info">
                                        <h6>
                                            <a href="deities/{{i.id}}/">{{i.name_hindi}}</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- volunteers End -->

<!-- Puja Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title text-start">
            <p class="subtitle">Offer Pooja</p>
            <h4 class="title">Pooja Seva</h4>
        </div>

        <div class="text-center filter-items left">
            <h5 class="active portfolio-trigger" data-filter="*">All</h5>
            {% for i in pooja_category %}
            <h5 class="portfolio-trigger" data-filter=".{{i.name}}">{{i.name}}</h5>
            {% endfor %}
        </div>

        <div class="portfolio-filter row">
            {% for i in pooja %}
            <div class="col-lg-4 {{i.category.name}}">
                <div class="sigma_portfolio-item style-2">

                    <img src="{% if i.img %} i.img.url {% else %} /static/assets/img/puja/style-2/1.jpg {% endif %}"
                         alt="portfolio">
                    <div class="sigma_portfolio-item-content">
                        <div class="sigma_portfolio-item-content-inner">
                            <h5><a href="puja-details.html"> {{i.name_hindi}} </a></h5>
                        </div>
                        <a href="puja-details.html"><i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<!-- Puja End -->

<!-- Blog Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title text-center">
            <p class="subtitle">Blog</p>
            <h4 class="title">News Feed</h4>
        </div>

        <div class="row">

            <!-- Article Start -->
            {% for i in blog %}
            <div class="col-lg-4 col-md-6">
                <article class="sigma_post">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{% if i.img %} {{i.img.url}} {% endif %}" alt="post">
                        </a>
                    </div>
                    <div class="sigma_post-body">
                        <div class="sigma_post-meta">
                            <div class="me-3">
                                <i class="fas fa-om"></i>
                                <a href="blog-details.html" class="sigma_post-category">Temple</a>
                            </div>
                            <a href="blog-details.html" class="sigma_post-date"> <i class="far fa-calendar"></i> May 20,
                                2022</a>
                        </div>
                        <h5><a href="/blog/details/{{i.id}}/">Temple companies are being so transparent with their
                            work</a>
                        </h5>
                        <div class="sigma_post-single-author">
                            <img src="/static/assets/img/people/1.jpg" alt="author">
                            <div class="sigma_post-single-author-content">
                                By <p>Radha Damodar Temple</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
            <!-- Article End -->

        </div>

    </div>

    <div class="spacer spacer-bottom spacer-lg light-bg pattern-triangles"></div>

</div>
<!-- Blog End -->
{% endblock content %}

{% block js %}
{% endblock js %}