{% extends "base.html" %}
{% block title %} Radha Damodar Temple{% endblock title %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="container samadhis-section">

  <h2>Samādhis and Bhajan Kutirs</h2>
  <p>
    Inside Śrī Rādhā Dāmodar temple the samadhis of Śrīla Jiva Gosvāmī, Śrīla Rupa Gosvāmī, Krishna Das Kaviraj Gosvāmī and Bhugarbha Gosvāmī are found. Apart from these samadhis, the bhajan kutir of Śrīla Rupa Gosvāmī is also here.
  </p>
  <p>
    Near the Samadhi of Śrīla Rupa Gosvāmī is the place where Śrīla Jiva Gosvāmī used to wash his feet. It is a well-known fact that by having the dust of this place every day, diseases are cured and one receives the mercy of Śrī Rādhā-Dāmodar ji Maharaj and the Gosvāmīs.
  </p>
  <p>
    The Bhajan Kutir of the founder ācārya of ISKCON, Śrīla A. C. Bhaktivedānta Swami Prabhupāda, is also situated here. He translated Śrīmad Bhāgavatam into English here and sang the glories of Śrīmad Bhāgavatam with Ācārya Gorachand Gosvāmī.
  </p>

  <h3>Pushpa Samadhis</h3>

  <h4>Śrīla Bhakti Siddhanta Saraswati Thākur Prabhupāda</h4>
  <blockquote>
    “May all of you work united and in harmony toward the same goal: to earn the right to serve the root āśraya-vigraha. May the current of ideas propagated by Śrī Rupa Gosvāmī flow throughout the world.”
  </blockquote>

  <h4>Śrīla Bhakti Pramod Puri Mahārāja</h4>
  <p>
    One winter, while serving as a pujari, Pramode Bhusan forgot to offer a blanket to Sri Sri Radha Madan Mohan. That night he awoke with chills through his body and soon realized that the cause of the chills was due to his forgetfulness in the service of Their Lordships Sri Sri Radha Madan Mohan.
  </p>

  <h4>Śrīla Bhakti Kusum Sraman Mahārāja</h4>
  <p>
    From within, antaryāmi Śrīla Prabhupāda recognized the devotee and informed Kunja Babu that he was accepting the “doctor” for both parts of initiation. In fact, Śrīla Prabhupāda gave him mantra-dīkṣā first and then Śrī Harināma. The order was simply reversed in his case.
  </p>

</div>
{% endblock content %}

{% block js %}
{% endblock js %}